<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-ws@2.0.1/ws.js"></script>
    <link href="static/tailwind.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='tailwind.css') }}" type="text/css" /> -->
</head>
<body>
    <h1 class="text-3xl font-bold underline">Hello World</h1>
</body>
</html>
